{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}

        {{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}

        {{ form_row(registrationForm.firstName) }}

        {{ form_row(registrationForm.lastName) }}

        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}

{% block javascript %}
      <script>
      fetch('http://127.0.0.1:8000/api/register')
     
      .then(response => response.json())
      .then(response => console.log(response))
      
      .catch(error => alert("Erreur : " + error));

  </script> 
{% endblock %}
